// start fixed edits
$primary-color: #ffb400;
$second-bg-color:#222222;
:root {
  --primary-color: #{$primary-color};
  --second-bg-color:#{$second-bg-color};
}
body {
  position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #0b0b0b;
    font-family: "Livvic", sans-serif;
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  li{
    list-style: none;
  }
  a{
    text-decoration: none;
  }
}
section{
  position: relative;
  min-height: 100vh;
  height: 100vh;
}

.fix-sec{
  // position: relative;
  // width: 100vw;
  // max-width: 100vw;
  & > div{
    height: inherit;
  }
}
.custom-title{
  margin-right: 150px;
  margin-left: 150px;
  text-align: center;
  writing-mode: vertical-rl;
  transform: scale(-1, -1);
  height: 100vh;
  h3{
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #fff;
  }
}
// start customize scrollbar-Y
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: $second-bg-color;
}
::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 10px;
}
// start customize scrollbar-X
::-webkit-scrollbar:horizontal{
  height: 8px;
  background-color: $second-bg-color;
}
::-webkit-scrollbar-thumb:horizontal{
  background: $primary-color;
  border-radius: 10px;
}

  // end fix edit 
  

  // start customize header
  .setting {
    position: fixed;
    padding: 10px 16px 10px 14px;
    background-color: #444;
    border-radius: 0 4px 4px 0;
    top: 150px;
    left: 0;
    cursor: pointer;
    z-index: 9;
    i{
      font-size: 25px;
      color: #fff;
    }
}
  header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9;

    .inner-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px;
      li:not(:last-child){
        margin-right: 35px;
      }
      li{
        font-size: 18px;
        a:before{
          content: '';
          position: absolute;
          height: 15px;
          width: 100%;
          background: #ffb404;
          top: -32px;
          left: 0;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          transition: all .3s;
          transform: translateY(-100%);
          transition: all .3s;
        }
        &:hover a:before{
          transform: translateY(0);
        }
        &:hover a{
          color: $primary-color;
        }
      }
      li.active a{
        color: $primary-color;
        &:before {
          content: '';
          position: absolute;
          height: 15px;
          width: 100%;
          background: #ffb404;
          top: -32px;
          left: 0;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          transform: translateY(0);
      }
      }
      a{
        position: relative;
        color: #fff;
        font-weight: 500;
        transition: all .3s;
      }
    }
    .head-email{
      p{
        color: #fff;
        font-size: 18px;
      }
      span{
        color: $primary-color;
      }
    }
    .mobile-menu{
      position: fixed;
      width: 54px;
      height: 54px;
      right: 4%;
      top: 4%;
      background: #222;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      label{
        span{
          display: flex;
          width: 23px;
          height: 2px;
          background-color: #fff;
        }
        span:not(:first-child){
          margin-top: 5px;
        }
      }
    }
  }
  // end customize header
  
  // start customize home section
  .home{
    min-width: 100vw;
    width: 100vw;
    height: 100vh;
    .cont-sec{
      justify-content: space-around;
    }
    h1{
      position: relative;
      display: flex;
      flex-direction: column;
      & > span{
        padding: 0 200px;
      }
      span:nth-child(2){
        position: relative;
        .experience{
          position: absolute;
          font-size: 18px;
          width: 200px;
          right: 100px;
          top: 50%;
          transform: translateY(-50%);
          color: #fff;
          line-height: 1.6;
          font-weight: 400;
        }
      }
      .shadow-txt {
        font-size: 125px;
        color: #fff;
        font-weight: bold;
        letter-spacing: 0.1em;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 0px;
        -webkit-text-stroke-color: #333;
        text-shadow: 8px 8px #fff, 20px 20px #222;
      }
      .dot{
        color: #ffb400;
        text-shadow: 8px 8px #ffb400, 20px 20px #222;
      }
    }
    .slide-right {
      span{
        display: block;
        -webkit-transition: 1s;
        transition: 1s;
        z-index: 1;
        margin-bottom: 0;
        width: 60px;
        height: 60px;
        background: none;
        position: relative;
        overflow: hidden;
        background-color: $primary-color;
        border-radius: 50%;
        text-align: center;

        &::before,&::after{
          content: "\f178";
          font-family: FontAwesome;
          position: absolute;
          width: 60px;
          line-height: 60px;
          color: #fff;
          transition: all .3s;
          font-size: 25px;
        }
        &::before{
          top: 0;
          left: 0;
        }
        &::after{
          top: 0;
          left: -60px;
        }
      }
      &:hover span::after{
        left: 0 !important;
      }
      &:hover span::before{
        left: 60px !important;
      }
    }
  }
// end customize home section

// start customize about section
.about{
  .info-image{
    text-align: center;
    img{
      border-radius: 30px;
    }
  }
  .infos-txt{
    h2{
      font-size: 70px;
      font-weight: 700;
      color: #fff;
      span{
        color: $primary-color;
      }
    }
    .info-details{
      justify-content: space-around;
      ul{
        li{
          position: relative;
          padding-left: 30px;
          line-height: 44px;
          font-size: 18px;
          &::before{
            content: '\f111';
            font-family: FontAwesome;
            position: absolute;
            color: $primary-color;
            font-size: 8px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }
          span span:first-child{
            color: rgba(255,255,255,.7);
            margin-right: 5px;
          }
          span span:last-child{
            color: #fff;
            font-weight: 500;
          }
        }
      }
    }
  }
}
// end customize about section 

// start customize skills section 
.skills{
  .all-cont{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .skills-cont{
    display: flex;

    .item-shape:first-child{
      margin-bottom: 60px;
    }
    .item-shape{
      text-align: center;
      span{
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $second-bg-color;
        border-radius: 30px;
        transform: rotate(45deg);
      }
      i{
        transform: rotate(-45deg);
        color: $primary-color;
        font-size: 35px;
      }
      h4{
        margin-top: 40px;
        font-size: 18px;
        font-weight: 500;
        color: #fff;
      }
    }
  }
}
.resume{
    .all-cont {
      display: flex;
      justify-content: center;
      align-items: center;
      .timeline{
        ol{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          position: relative;
          row-gap: 45px;
          &::after{
            content: '';
            width: 68%;
            height: 2px;
            background: $second-bg-color;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
        }
          li{
            flex: 0 0 33.3%;
            max-width: 33.3%;
            position: relative;
            .all-exp{
              padding: 10px;
              .work::before{
                content: '\f0b1';
              }
              .education::before{
                content: '\f19d';
              }
              .work::before,.education::before {
                font-family: 'FontAwesome';
                position: absolute;
                font-size: 80px;
                right: -40px;
                color: #2d2d2d;
              }
              .experience{
                display: block;
                padding: 25px;
                background-color: $second-bg-color;
                border-radius: 1rem;
                position: relative;
                overflow: hidden;
                h4{
                  color: $primary-color;
                  font-size: 21px;
                  margin-bottom: 20px;
                }
                p{
                  color: #fff;
                  font-size: 18px;
                  font-weight: 500;
                }
                p:first-of-type{
                  margin-bottom: 8px;
                }    
              }
            }
        }
    }
  }
}
}
.facts{
  background-image: url(assets/facts.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  &::before{
    content: '';
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .row-cards{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .fa-card{
      & > div{
        background-color: rgba(0, 0, 0, 0.6);
        color: #fff;
        text-align: center;
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 30px;
        transform: rotate(45deg);
        & > div{
          transform: rotate(-45deg);
        }
      }
      &:nth-child(odd),&:nth-child(even) {
        margin-right: 0 ;
      }
      &:nth-child(even) {
        margin-top: 200px !important;
      }
      &:nth-child(odd) {
          margin-top: -200px !important;
      }
      h2{
        color: $primary-color;
        font-size: 60px;
        font-weight: 700;
        margin-bottom: 7px;
      }
      p{
        font-size: 20px;
        font-weight: 500;
        span{
          display: block;
        }
      }
    }
  }
}

// end customize skills section 








/*------------------------------*/






// start customize media 
@media(min-width:1024px){
  .wrapper {
    width: 100%;
    white-space: nowrap; 
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch; 
    height: 100vh;
  }
  .content {
    display: inline-block;
    white-space: normal;
    vertical-align: top; 
    width: 100%; 
    padding: 20px; 
    box-sizing: border-box; 
  }
  .mobile-menu{
    display: none !important;
  }
  .separator,.opposite{
    height: 100vh;
    position: relative;
  }
  .separator{
    transform: translateX(calc(100% - -1px)); 
  }
  .about {
    .info-image{
      width: 40%;
    }
  }
  .skills-cont{
    & > div:not(:first-child){
      margin-left: 80px;
    }
  }
  .bottom-bord::after,.top-bord::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px;
    border-style: solid;
}
  .bottom-bord:after{
    bottom: -9px;
    border-color: $second-bg-color transparent transparent transparent;
    }
  .top-bord:after{
    top: -9px;
    border-color: transparent transparent $second-bg-color transparent;
}
.bottom-bord::before,.top-bord::before {
  content: '';
  content: '';
  position: absolute;
  background: $primary-color;
  width: 10px;
  height: 10px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  z-index: 9;
  border-radius: 3px;
}
.bottom-bord:before{
  bottom: -28px;
  }
.top-bord:before{
  top: -28px;
}
.facts{
  .row-cards{
    padding: 0 200px;
  }
}
}




/*---------------------------------------*/


// @media(min-width:1024px) and (max-width:1200px){

// }


@media(max-width:1024px){
  section{
    min-height: 450px !important;
    height: auto !important;
  }
  .custom-title{
    writing-mode: unset;
    transform: scale(1, 1);
    height: auto;
    margin: 70px 0;
  }
  header .menu,.menu,.head-email,.experience{
    display: none;
  }
  header .inner-header{
    justify-content: flex-end;
  }
  .opposite,.separator{
    display: none;
  }
  .mobile-up-img{
    transform: translateY(-100%) translateX(-50%);
    position: relative;
    left: 50%;
  }
  .home{
    & > div{
      height: 100vh !important;
    }
    .cont-sec{
      justify-content: center;
      flex-direction: column;
    }
    .slide-right{
      margin: 3rem auto 0;
      span::before{
        transform: rotate(90deg);
      }
    }
  }
  .about{
    padding: 0 2rem;
  }
  .skills{
    .all-cont{
      flex-direction: column;
    }
  }
  .resume{
    margin-bottom: 50px;
    .all-cont{
      flex-direction: column;
      .timeline{
        li{
          flex: 0 0 100% !important;
          max-width: 100% !important;
          .all-exp:not(.not-mob)::after{
            content: '';
            position: absolute;
            width: 3px;
            height: 65px;
            background: $second-bg-color;
            bottom: -55px;
            left: 50%;
            transform: translateX(-50%);
        }
        }
      }
    }
  }
  .facts{
    .row-cards{
      flex-direction: column;
      padding: 100px 0;
    }
  }
}



/*--------------------------------*/


@media(min-width:768px) and (max-width:1200px){
  section{
    padding: 0 !important;
    & > div{
      min-width: 600px;
      margin: auto;
    }
  }
  .about{
    .info-image{
      img{
        width: 70% !important;
      }
    }
    .infos-txt{
      h2{
        text-align: center;
        margin: 50px 0;
        font-size: 55px !important;
      }
    }
    .info-details{
      max-width: 550px;
      margin: auto;
    }
  }
  .skills{
    .skills-cont{
      & > div:not(:first-child){
        margin-left: 50px;
      }
    }
  }
  .facts{
    .fa-card{
      &:nth-child(odd),&:nth-child(even) {
        margin-top: 0 !important;
      }
      &:nth-child(odd){
        margin-right: -150px;
      }
      &:nth-child(even) {
        margin-right: 150px;
      }
    }
  }
}



/*-----------------------------*/



@media(max-width:767px){
  section {
    min-height: initial;
    height: auto;
    padding: 0 30px !important;
}
.custom-title{
  writing-mode: unset;
  transform: scale(1, 1);
  height: auto;
  margin: 70px 0;
  h3{
    font-size: 35px;
  }
}
.setting{
  padding: 7px 10px 7px 10px;
  i{
    font-size: 15px;
  }
}
  .home{
    h1{
      line-height: 65px;
      .shadow-txt{
        font-size: 45px;
      }
      & > span{
        padding: 0 60px;
      }
    }
  }
  .about{
    .info-image{
      img{
        width: 100%;
      }
    }
    .infos-txt{
      h2{
        font-size: 36px;
        text-align: center;
        margin: 3rem 0;
      }
      .info-details {
        justify-content: flex-start;
        ul{
          li{
            font-size: 16px;
          }
        }
      }
    }
  }
  
  .skills {
    .all-cont{
      flex-direction: column;
    .skills-cont{
        flex-direction: column;
        & > div {
          display: flex;
        }
        .item-shape{
          margin: 0 30px 60px 30px;
        }
      }
    }
  }
  .facts{
    .all-cont{
      width: 100%;
    }
    justify-content: center;
    .row-cards{
      .fa-card{
        & > div{
          margin: 60px 0;
          width: 180px;
          height: 180px;
          h2{
            font-size: 50px;
          }
          p{
            font-size: 18px;
          }
        }
        .fa-card:nth-child(even) {
          margin-top: 200px;
      }
      &:nth-child(odd),&:nth-child(even) {
          margin-top: 0;
      }
      }
    }
  }
}







