:root {
  --primary-color: #ffb400;
  --second-bg-color:#222222;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #0b0b0b;
  font-family: "Livvic", sans-serif;
}
body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body li {
  list-style: none;
}
body a {
  text-decoration: none;
}

section {
  position: relative;
  min-height: 100vh;
  height: 100vh;
}

.fix-sec > div {
  height: inherit;
}

.custom-title {
  margin-right: 150px;
  margin-left: 150px;
  text-align: center;
  writing-mode: vertical-rl;
  transform: scale(-1, -1);
  height: 100vh;
}
.custom-title h3 {
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #222222;
}

::-webkit-scrollbar-thumb {
  background: #ffb400;
  border-radius: 10px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
  background-color: #222222;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #ffb400;
  border-radius: 10px;
}

.setting {
  position: fixed;
  padding: 10px 16px 10px 14px;
  background-color: #444;
  border-radius: 0 4px 4px 0;
  top: 150px;
  left: 0;
  cursor: pointer;
  z-index: 9;
}
.setting i {
  font-size: 25px;
  color: #fff;
}

header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9;
}
header .inner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
header .inner-header li:not(:last-child) {
  margin-right: 35px;
}
header .inner-header li {
  font-size: 18px;
}
header .inner-header li a:before {
  content: "";
  position: absolute;
  height: 15px;
  width: 100%;
  background: #ffb404;
  top: -32px;
  left: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all 0.3s;
  transform: translateY(-100%);
  transition: all 0.3s;
}
header .inner-header li:hover a:before {
  transform: translateY(0);
}
header .inner-header li:hover a {
  color: #ffb400;
}
header .inner-header li.active a {
  color: #ffb400;
}
header .inner-header li.active a:before {
  content: "";
  position: absolute;
  height: 15px;
  width: 100%;
  background: #ffb404;
  top: -32px;
  left: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: translateY(0);
}
header .inner-header a {
  position: relative;
  color: #fff;
  font-weight: 500;
  transition: all 0.3s;
}
header .head-email p {
  color: #fff;
  font-size: 18px;
}
header .head-email span {
  color: #ffb400;
}
header .mobile-menu {
  position: fixed;
  width: 54px;
  height: 54px;
  right: 4%;
  top: 4%;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
header .mobile-menu label span {
  display: flex;
  width: 23px;
  height: 2px;
  background-color: #fff;
}
header .mobile-menu label span:not(:first-child) {
  margin-top: 5px;
}

.home {
  min-width: 100vw;
  width: 100vw;
  height: 100vh;
}
.home .cont-sec {
  justify-content: space-around;
}
.home h1 {
  position: relative;
  display: flex;
  flex-direction: column;
}
.home h1 > span {
  padding: 0 200px;
}
.home h1 span:nth-child(2) {
  position: relative;
}
.home h1 span:nth-child(2) .experience {
  position: absolute;
  font-size: 18px;
  width: 200px;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  line-height: 1.6;
  font-weight: 400;
}
.home h1 .shadow-txt {
  font-size: 125px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: #333;
  text-shadow: 8px 8px #fff, 20px 20px #222;
}
.home h1 .dot {
  color: #ffb400;
  text-shadow: 8px 8px #ffb400, 20px 20px #222;
}
.home .slide-right span {
  display: block;
  transition: 1s;
  z-index: 1;
  margin-bottom: 0;
  width: 60px;
  height: 60px;
  background: none;
  position: relative;
  overflow: hidden;
  background-color: #ffb400;
  border-radius: 50%;
  text-align: center;
}
.home .slide-right span::before, .home .slide-right span::after {
  content: "\f178";
  font-family: FontAwesome;
  position: absolute;
  width: 60px;
  line-height: 60px;
  color: #fff;
  transition: all 0.3s;
  font-size: 25px;
}
.home .slide-right span::before {
  top: 0;
  left: 0;
}
.home .slide-right span::after {
  top: 0;
  left: -60px;
}
.home .slide-right:hover span::after {
  left: 0 !important;
}
.home .slide-right:hover span::before {
  left: 60px !important;
}

.about .info-image {
  text-align: center;
}
.about .info-image img {
  border-radius: 30px;
}
.about .infos-txt h2 {
  font-size: 70px;
  font-weight: 700;
  color: #fff;
}
.about .infos-txt h2 span {
  color: #ffb400;
}
.about .infos-txt .info-details {
  justify-content: space-around;
}
.about .infos-txt .info-details ul li {
  position: relative;
  padding-left: 30px;
  line-height: 44px;
  font-size: 18px;
}
.about .infos-txt .info-details ul li::before {
  content: "\f111";
  font-family: FontAwesome;
  position: absolute;
  color: #ffb400;
  font-size: 8px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.about .infos-txt .info-details ul li span span:first-child {
  color: rgba(255, 255, 255, 0.7);
  margin-right: 5px;
}
.about .infos-txt .info-details ul li span span:last-child {
  color: #fff;
  font-weight: 500;
}

.skills .all-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills .skills-cont {
  display: flex;
}
.skills .skills-cont .item-shape:first-child {
  margin-bottom: 60px;
}
.skills .skills-cont .item-shape {
  text-align: center;
}
.skills .skills-cont .item-shape span {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222222;
  border-radius: 30px;
  transform: rotate(45deg);
}
.skills .skills-cont .item-shape i {
  transform: rotate(-45deg);
  color: #ffb400;
  font-size: 35px;
}
.skills .skills-cont .item-shape h4 {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.resume .all-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.resume .all-cont .timeline ol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  row-gap: 45px;
}
.resume .all-cont .timeline ol::after {
  content: "";
  width: 70%;
  height: 2px;
  background: #222222;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
.resume .all-cont .timeline ol li {
  flex: 0 0 33.3%;
  max-width: 33.3%;
}
.resume .all-cont .timeline ol li .all-exp {
  padding: 10px;
}
.resume .all-cont .timeline ol li .all-exp .experience {
  padding: 25px;
  background-color: #222222;
  border-radius: 1rem;
  position: relative;
}
.resume .all-cont .timeline ol li .all-exp .experience h4 {
  color: #ffb400;
  font-size: 21px;
  margin-bottom: 20px;
}
.resume .all-cont .timeline ol li .all-exp .experience p {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.resume .all-cont .timeline ol li .all-exp .experience p:first-of-type {
  margin-bottom: 8px;
}

@media (min-width: 1024px) {
  .wrapper {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    height: 100vh;
  }
  .content {
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  .mobile-menu {
    display: none !important;
  }
  .about .info-image {
    width: 40%;
  }
  .skills-cont > div:not(:first-child) {
    margin-left: 80px;
  }
}
@media (max-width: 1024px) {
  header .menu, .menu, .head-email, .experience {
    display: none;
  }
  header .inner-header {
    justify-content: flex-end;
  }
  .home .cont-sec {
    justify-content: center;
    flex-direction: column;
  }
  .home .slide-right {
    margin: 3rem auto 0;
  }
  .home .slide-right span::before {
    transform: rotate(90deg);
  }
  .about {
    padding: 0 2rem;
  }
  .skills .all-cont {
    flex-direction: column;
  }
  .skills .all-cont .custom-title {
    writing-mode: unset;
    transform: scale(1, 1);
    height: auto;
    margin: 70px 0;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .about .info-image img {
    width: 70% !important;
  }
  .about .infos-txt h2 {
    text-align: center;
    margin: 50px 0;
    font-size: 55px !important;
  }
  .about .info-details {
    max-width: 500px;
    margin: auto;
  }
  .skills .skills-cont > div:not(:first-child) {
    margin-left: 50px;
  }
}
@media (max-width: 767px) {
  section {
    min-height: initial;
    height: auto;
  }
  .home h1 {
    line-height: 65px;
  }
  .home h1 .shadow-txt {
    font-size: 45px;
  }
  .home h1 > span {
    padding: 0 60px;
  }
  .about .info-image img {
    width: 100%;
  }
  .about .infos-txt h2 {
    font-size: 36px;
    text-align: center;
    margin: 3rem 0;
  }
  .about .infos-txt .info-details {
    justify-content: flex-start;
  }
  .about .infos-txt .info-details ul li {
    font-size: 16px;
  }
  .skills .all-cont {
    flex-direction: column;
  }
  .skills .all-cont .custom-title {
    writing-mode: unset;
    transform: scale(1, 1);
    height: auto;
    margin: 70px 0;
  }
  .skills .all-cont .custom-title h3 {
    font-size: 35px;
  }
  .skills .all-cont .skills-cont {
    flex-direction: column;
  }
  .skills .all-cont .skills-cont > div {
    display: flex;
  }
  .skills .all-cont .skills-cont .item-shape {
    margin: 0 30px 60px 30px;
  }
}/*# sourceMappingURL=style.css.map */